@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  /* background-image: linear-gradient(to bottom right, #18181b, #27272a); */
  background: whitesmoke;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1,
h3,
.fj {
  font-family: 'Righteous', sans-serif;
}

.sd {
  -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}

.imgg {
  background: rgba(255, 255, 255, 0.192);
  backdrop-filter: blur(10px);
}

.imgg2 {
  background: black;
  opacity: 60%;
  backdrop-filter: blur(10px);
}

/* span,
div,
p {
  font-family: 'Lato', sans-serif;
} */

.glassf {
  background: rgba(71, 64, 64, 0.3);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  border: 1px solid rgba(71, 64, 64, 0.3);
}
